apiVersion: v1
baseDomain: {{ DOMAIN }}
compute:
- hyperthreading: Enabled
  name: worker
  replicas: 0
controlPlane:
  hyperthreading: Enabled
  name: master
  replicas: 3
metadata:
  name: {{ CLUSTERID }}
networking:
  clusterNetwork:
  - cidr: {{ CLUSTER_NETWORK }}
    hostPrefix: {{ CLUSTER_NETWORK_HOSTPREFIX }}
  networkType: OpenShiftSDN
  serviceNetwork:
  - {{ SERVICE_NETWORK }}
platform:
  none: {}
fips: false
pullSecret: {{ PULL_SECRET }}
sshKey: '{{ OCP_SSH_KEY }}'
